.msg { color: #ccc; font-family: Menlo,Consolas,Monaco,monospace; }

.user-item {
    border: 1px solid var(--ssc-d);
    border-radius: 4px;
    margin: 10px auto;
    padding: 14px 0;
    text-align: center;
    max-width: 250px;
}
.user-item:hover, .user-item:active {
    border-color: white;
}

.table .empty-table {
    background-color: rgba(255, 127, 0, 0.2);
    padding: 2em;
    text-align: center;
}
.table td, .table th { cursor: default; }
tr.selected td {
    background: rgba(255, 255, 0, 0.2);
}
