/* ----- Base Typography----- */
body {
	font-family: OpenSans, Helvetica, Arial, sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 { font-family: Georgia, "Times New Roman", Times, serif; }

/* ----- */
.page { padding: 20px 0; }
.text-dim { opacity: 0.5; }

.header-banner {
	font-size: 1.25rem;
	font-weight: 900;
	padding-bottom: 10px;
	padding-top: 10px;
}
